<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commframe_little_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{625,406}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{625,406}</string>
			</dict>
			<key>commframe_little_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,409},{102,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,73}</string>
			</dict>
			<key>commframe_little_btnCancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,409},{149,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,72}</string>
			</dict>
			<key>commframe_little_btnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,409},{118,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,111}</string>
			</dict>
			<key>commframe_little_btnConfirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,409},{149,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,71}</string>
			</dict>
			<key>commframe_little_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,409},{39,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,43}</string>
			</dict>
			<key>commframe_little_checkBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,452},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>commframe_little_bg_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,409},{76,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,41}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>commframe_little.png</string>
			<key>realTextureFileName</key>
			<string>commframe_little.png</string>
			<key>size</key>
			<string>{645,521}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>645</integer>
			<key>height</key>
			<integer>521</integer>
		</dict>
	</dict>
</plist>